@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model MockAssessmment5b.Models.CalculatorViewModel
  
<form asp-controller="Home" asp-action="Result" method="post">
    <label asp-for="Num1">Enter a Number</label>
    <input asp-for="Num1" />

    <label asp-for="Num2">Enter a Number</label>
    <input asp-for="Num2" />

    <!--<button>Submit</button>-->

    <button type="Submit">Submit</button>

    <label> Plus: </label><input type="radio" asp-for="Operation" value="Plus" />
    <label> Minus: </label><input type="radio" asp-for="Operation" value="Minus" />
    <label> Multiply: </label><input type="radio" asp-for="Operation" value="Multiply" />
    <label> Divide: </label><input type="radio" asp-for="Operation" value="Divide" />

</form>
