@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model MockAssessmment5b.Models.ResultViewModel

<!--
<label asp-for ="Num1"></label>
<h1>@Model.Num1</h1>

<label asp-for="Num2"></label>
<h1>@Model.Num2</h1> -->

<label asp-for="Operation"></label>

<h1>@Model.Operation</h1>
